[Unit]
Description=Watch BTC blocks and insert DynamoDB rows.

[Service]
Type=oneshot
User=ec2-user
WorkingDirectory=/home/ec2-user/dynamicIndexer
Environment="PATH=/home/ec2-user/dynamicIndexer/.venv/bin"
ExecStart=/home/ec2-user/dynamicIndexer/.venv/bin/python scripts/blockWatcher.py
