[Unit]
Description=Run blockWatcher every 2 minutes

[Timer]
OnBootSec=30s           
OnUnitActiveSec=120s
Persistent=true

[Install]
WantedBy=timers.target
