[Unit]
Description=Slow inscription indexer timer

[Timer]
OnBootSec=5m
OnUnitActiveSec=1800s
Unit=indexLooper.service
Persistent=true

[Install]
WantedBy=timers.target
